.mainBannersContainer {
    min-width:1500px;
    height: 500px !important;
    margin:auto;
    background-color: aqua;
}
.bannerContainer {
    width:100%;
    height: 100%;
    transition:background-image 0.5s;
    background-repeat:no-repeat;
    background-size:contain;

}
.bannerContainer img {
    
}