:root{
    --color-1: #f02d35;
    --color-2:#a09b99;
}
nav{
    display:flex;
    justify-content: space-between;
    padding:5px 20px;
    align-items: center;
    padding-top:20px;
}
.rightBtnsContainer {
    display:flex;
    align-items: center;
    margin-right:20px;
}
.shoppingCartContainer img {
    width:25px;
}
.shoppingAmountContainer {
    width:15px;
    height:15px;
    border-radius:50%;
    font-size: 12px;
    text-align: center;
    background-color: var(--color-1);
    color:#fff;
    align-self: flex-end;
    position:relative;
    right:10px;
    top:7px;
}
.shoppingAmountContainer span{
    text-align: center;
}
.rightBtnsContainer button {
    background-color:var(--color-1);
    color:#fff;
    font-size:16px;
    padding:3px 14px;
    height:40px;
    border-radius:20px;
    font-weight:bold;
    border:1px solid grey;
    transition:all 0.2s;
}
.rightBtnsContainer button:hover {
    cursor:pointer;
    transform: scale(1.1);
}
.shoppingCartContainer{
    display:flex;
    align-items: center;
    margin:10px;
    transition:all 0.5s;
}
.shoppingCartContainer:hover{
    cursor:pointer;
    transform: scale(1.1);
}

.companyName h3{
    color:#a09b99;
    font-weight: none;
    font-size:22px;
    font-weight: normal;
    padding:3px 10px;
    border-radius:10px;
    transition: all 0.5s; 
}
.companyName h3:hover{
    cursor:pointer;
    background-color:var(--color-1);
    color:#fff;
}
.profileContainer {
    display:flex;
    align-items: center;
    padding:5px 8px;
    justify-content: space-between;
    margin-right:10px;
    border:2px solid var(--color-2);
    border-radius:20px;
    transition:all 0.3s;
}
.profileContainer:hover {
    cursor: pointer;
    color:var(--color-1);
}

.profileContainer img{
    width:10px;
    margin-left:5px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 7px;
    z-index: 1;
    border-radius: 10px;;
  }
  
  .dropdown:hover .dropdownContent {
    display: block;
  }
  .dropdownContent p{
      padding:10px;
      border-radius: 10px;
  }
  .dropdownContent p:hover{
      background-color: var(--color-1);
      color:#fff;
      cursor:pointer;
  }

