:root{
    --color-1: #f02d35;
    --color-2:#f1f1f1;
    --color-3:#324d67;
}
.shoppingCartContainer {
    position:absolute;
    right:0;
    top:0;
    height:90vh;
    z-index: 2;
    width:470px;
    background-color: #fff;
    box-shadow: -5px 5px 10px lightgrey;
    display:flex;
    flex-direction: column;
    border-radius:10px;
}

.cartInfo {
    margin-top:30px;
    margin-left: 20px;;
    display:flex;
    width:47%;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
.cartInfo:hover {
    cursor:pointer;
}

.cartInfo img{
    width:15px;
}
.cartInfo span:last-child{
    color:var(--color-1);
}
.cartContainer {
    margin-top:80px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.Imgcontainer {
    width:120px;
    margin-bottom:10px;
}
.cartContainer img {
   width: 100%;
   height:auto;
}
.cartContainer h3 {
    margin-bottom:50px;
}
.cartContainer button {
    padding:12px 25px;
    background-color: var(--color-1);
    border:3px solid black;
    color:#fff;
    font-size:18px;
    font-weight: bold;
    border-radius: 20px;
    transition: all 0.2s;
}
.cartContainer button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.productImg {
    width:80px;
    height:80px;
    background-color: #f1f1f1;
    padding:10px;
    border-radius: 10px;
}
.mainContainer {
    width:95%;
    margin:auto;
    margin-top:40px;
    position:relative;
    display:flex;
    flex-direction: column;
    height:100%; 
}
.productsContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    height:70%;
    overflow-x: hidden;
}

.productsContainer::-webkit-scrollbar {
    width: 6px;
  }
.productsContainer::-webkit-scrollbar-track {
    background: #eeeeee;
    display: none;
}
.productsContainer::-webkit-scrollbar-thumb {
    background: rgb(206, 205, 205);
  }
  .productsContainer::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
  
.productContainer {
    width:100%;
    display:flex;
    margin:5px;
    transition: all 0.3s;
    border-radius: 10px;
    padding:3px 5px;
}
.productContainer:hover {
    background-color: rgb(240, 240, 240);
}
.productInfoContainer {
    width:100%;
    padding-left:15px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.productInfo {
    display:flex;
    justify-content: space-between;
    font-size:20px;
    color:var(--color-3);
    font-weight: bold;
}
.productAmount {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top:-15px;
}
.closeBtn {
    width:20px;
    height:20px;
}
.closeBtn:hover {
    cursor:pointer;
}
.quantityContainer {
    font-size: 17px;
}

.paymentContainer {
    position:absolute;
    bottom:30px;
    width:80%;
    align-self: center;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
}
.paymentInfo {
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-size: 25px;
    color:var(--color-3);
    font-weight: bold;
}
.btnContainer {
    width:90%;
    margin-top:20px;
    position:relative;
}
.btnContainer img {
    width:35px;
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    animation: spin 1s linear infinite;
}
.paymentBtn {
    width:100%;
    align-self: center;
    padding-top:10px;
    padding-bottom:10px;
    height:100%;
    border-radius: 20px;
    font-size:20px;
    border:3px solid black;
    text-align: center;
    background-color: var(--color-1);
    color:#fff;
    font-weight:bold;
}
.paymentBtn:hover {
    cursor: pointer;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);

    }
}